<div class="custom_skirmesh">
    <div class="cust_skirmesh_board">
        <h3>Take Airsoft into the future</h3>
        <h4>Turn your Airsoft Field into a video game</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="blog-card blog-card-blog">
                    <div class="blog-card-image">
                        <a href="#"> <img class="img" src="../../../assets/images/soldierA.jpg"> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="blog-table">
                        <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> News</h6>
                        <h4 class="blog-card-caption">
                            <a href="#">Enhanced Safety</a>
                        </h4>
                        <p class="blog-card-description">Deploy marshals to maintain player safety and fair gameplay -
                            let our system worry about keeping track of gameplay. <span
                                id="dots-tab1">...</span><span id="more-tab1">Our system maintains accurate point tally,
                                objective control status, and general gameplay accountability among as many objectives
                                you want, which allows marshals to focus on player safety rather than become distracted
                                verifying objective ownership or other sundry gameday tasks that should be-and are-automated
                                by Skirmesh gaming systems.</span></p>
                        <div class="ftr">
                            <div class="author">
                                <button id="btn-tab1" class="btn btn-outline-success" (click)="tab1LearnMore()">Learn More </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="blog-card blog-card-blog">
                    <div class="blog-card-image">
                        <a href="#"> <img class="img" src="../../../assets/images/soldierB.jpg"> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="blog-table">
                        <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> News</h6>
                        <h4 class="blog-card-caption">
                            <a href="#">Fan Favorite Missions - Digitized</a>
                        </h4>
                        <p class="blog-card-description">Point Capture. Bombs/IEDs. Medic stations and more. All digitized,
                            overlaid on your field map, and linked to the cloud to allow the Commanding Officers,
                            players, or anyone in the world to watch the action in real time. <span
                                id="dots-tab2">...</span><span id="more-tab2">Games are easy to start, pause, stop,
                                resume, and are archived automatically.

                                Our proprietary rule set ensures fair gameplay and accountable action for every player.

                                Skirmesh is an expandable system with deployable objectives(nodes). Each can serve a
                                variety of functions and can be configured to create diabolic scenarios that challenge
                                tactics and teamwork of the most skilled players. Control the “worth” of an objective in
                                an assault to steer the fight or allow teams to capture, destroy entire objectives to
                                remove them from play, and establish forward operating bases complete with a medic
                                station to enhance the team footprint and dominance on the field. Every detail is
                                configurable in real time to provide the gameplay designer the ability to shift the
                                fight on the fly.

                                Simply put, this system gives purpose and structure to otherwise chaotic
                                scenarios.</span></p>
                        <div class="ftr">
                            <div class="author">
                                <button id="btn-tab2" class="btn btn-outline-success"  (click)="tab2LearnMore()">Learn More </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="blog-card blog-card-blog">
                    <div class="blog-card-image">
                        <a href="#"> <img class="img" src="../../../assets/images/soldierC.jpg"> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="blog-table">
                        <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> News</h6>
                        <h4 class="blog-card-caption">
                            <a href="#">New Customer Engagement Channels</a>
                        </h4>
                        <p class="blog-card-description">Personalized player profiles linked to unique RFID bracelets
                            give you and your customers new insight into Airsoft gameplay. <span
                                id="dots-tab3">...</span><span id="more-tab3">Players are able to review objectives
                                captured, breach assists, and how frequently they play.

                                As we continue to develop the system, we will provide more detail and coverage of stats
                                and actions.

                                Fields can better understand customer acquisition as we can identify unique and
                                repeat customers to provide a broad based customer value datastream.</span></p>
                        <div class="ftr">
                            <div class="author">
                                <button id="btn-tab3" class="btn btn-outline-success" (click)="tab3LearnMore()">Learn More </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form role="form" name="ajax-form" id="ajax-form" action="https://formsubmit.io/send/bharath.ram89@gmail.com" method="post" class="cust_skirmesh_board form-main">
                    <h4 class="text-center center-cust">Interested in bringing your field to the future? Message us here </h4>
                  <div class="form-group">
                    <label for="name2">Name</label>
                    <input class="form-control" id="name2" name="name" onblur="if(this.value == '') this.value='Name'" onfocus="if(this.value == 'Name') this.value=''" type="text" value="Name">
                    <div class="error" id="err-name" style="display: none;">Please enter name</div>
                  </div> <!-- /Form-name -->

                  <div class="form-group">
                    <label for="email2">Email</label>
                    <input class="form-control" id="email2" name="email" type="text" onfocus="if(this.value == 'E-mail') this.value='';" onblur="if(this.value == '') this.value='E-mail';" value="E-mail">
                    <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div>
                  </div> <!-- /Form-email -->

                  <div class="form-group">
                    <label for="message2">Message</label>
                    <textarea class="form-control" id="message2" name="message" rows="5" onblur="if(this.value == '') this.value='Message'" onfocus="if(this.value == 'Message') this.value=''">Message</textarea>

                    <div class="error" id="err-message" style="display: none;">Please enter message</div>
                  </div> <!-- /col -->

                  <div class="row">
                    <div class="col-xs-12">
                      <div id="ajaxsuccess" class="text-success">E-mail was successfully sent.</div>
                      <div class="error" id="err-form" style="display: none;">There was a problem validating the form - please check it!</div>
                      <div class="error" id="err-timedout">The connection to the server timed out!</div>
                      <div class="error" id="err-state"></div>
                      <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md " id="send">Submit</button>
                    </div> <!-- /col -->
                  </div> <!-- /row -->

                </form> <!-- /form -->
              </div> <!-- end col -->
        </div>

    </div>
</div>