
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">



        <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Helpful Links</h4>
              <ul class="list-unstyled">
                <li><a  [routerLink]="['/non-secure/contact-us']">Contact Us</a></li>
                <li><a  [routerLink]="['/non-secure/privacy-policy']">Privacy Policy</a></li>
                <li><a  [routerLink]="['/non-secure/faq']">FAQs</a></li> 
              </ul>
            </div>
          </div>



        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Product Updates</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a  [routerLink]="['/non-secure/feature-list']">Feature List</a></li>
              <li><a routerLink="/nextRelease">Release Notes</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>How to's</h4>
            <ul class="list-unstyled">
                <li><a href="#">How to use this app</a></li>
                <li><a href="#">How to get setup</a></li> 
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="https://www.facebook.com/pages/category/Sports---Recreation/Skirmesh-108898537907505/" class="icofacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icotwitter" title="twitter"><i class="fa fa-twitter"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2021 - Skirmesh.  All rights reserved.</p>
          </div>
      </div>
  
  
    </div>
    </div>
  </footer>