<div class="custom_skirmesh_margin custom_skirmesh">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card-group mb-0">
				<div class="card p-4 cust">
					<div class="card-body">
						<h1>Login</h1>
						<p class="text-muted">Sign In to your account</p>
						<a class="nav-link">Select one: </a>
						<ul class="nav nav-pills nav-fill">
							<li class="nav-item">
								<a id="fieldSignIn" class="nav-link" (click)="fieldSignIn()">Field Sign-In</a>
							</li>
							<li class="nav-item">
								<a id="playerSignIn" class="nav-link active" (click)="playerSignIn()">Player Sign-In</a>
							</li>
						</ul>
						<br>
						<form [formGroup]="login" autocomplete="off" method="POST">
							<div class="form-group input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input id="callSign" formControlName="callSign" type="text" class="form-control"
									placeholder="Callsign">
								<div *ngIf="callSign.invalid && (callSign.dirty || callSign.touched) "
									class="alert alert-danger ">
									<div *ngIf="callSign.errors?.required ">
										Callsign is required
									</div>
								</div>
							</div>
							<div class="form-group input-group ">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input id="fieldName" style="display: none;" formControlName="fieldName" type="text"
									class="form-control" placeholder="Field Name">
								<div *ngIf="fieldName.invalid && (fieldName.dirty || fieldName.touched) "
									class="alert alert-danger ">
									<div *ngIf="fieldName.errors?.required ">
										Field Name is required
									</div>
								</div>
							</div>
							<div class="form-group input-group">
								<span class="input-group-addon"><i class="fa fa-lock"></i></span>
								<input formControlName="password" type="password" class="form-control"
									placeholder="Password">
								<div *ngIf="password.invalid && (password.dirty || password.touched) "
									class="alert alert-danger ">
									<div *ngIf="password.errors?.required ">
										Password is required
									</div>
									<div *ngIf="password.errors?.minlength ">
										Password needs to be min of 6 characters
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
									<button (click)="onSubmit()" type="button"
										class="btn cust_btn px-4 text-white">Login</button>
								</div>
								<div class="col-6 text-right">
									<button type="button" class="btn btn-link px-0">Forgot password?</button>
								</div>
								<div class="row">
									<div id="userLoginFaileddMessage" class="alert alert-danger d-none center-cust">
										We are sorry we were not able to create your account at this time <br>
										Please try again or <a [routerLink]="['/non-secure/contact-us']">contact us from
											our contact us page</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card text-black cust py-5 d-md-down-none">
					<div class="card-body text-center">
						<div>
							<h2>Sign up</h2>
							<p>Are you a field and want to get started? Reach out to us <a
									[routerLink]="['/non-secure/field-info']">here</a>.</p>
							<p> Are you a player? <a [routerLink]="['/auth/sign-up']">Register
									here</a>!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>